* {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  text-decoration: none;
  list-style: none;
  outline: none;
  opacity: 1;
  border: none;
  font-size: 1em;
}

html {
  font-size: 20px;
}