@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  opacity: 1;
  border: none;
  font-size: 1em;
}

html {
  font-size: 16px;
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 80px 1fr;
}